@media screen and (min-width: 1024px) {
  /* Reset */

  body {
    margin: 0;
    padding: 0;
  }

  /* Hamburger Menu */
  #hamburger-icon,
  .disappear {
    visibility: hidden;
    height: 0px;
  }
}
