@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: black;
  }

  /*Home page*/
  .homePage1{
    margin: 0;
    position: relative;
    top: 0px;
    left: 0px;
    width:100vw;
    height: 564px;
    background-image: url(images/bicycle1.jpg);
    background-position: center; 
    background-size: cover; 
  }

  .homePage1 header{
    position: relative;
    top: 0px;
    left: 0px;
    height: 136px;
    background: transparent linear-gradient(180deg, #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: space-between;
  }

  .raptorHome1{
    position: absolute;
    top: 7px;
    left: 19px;  
    height: 54px;
  }

  .homePage1 ul li{
    display: inline;
    height: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    letter-spacing: 0.0425rem;
    color: #6DF529;
    opacity: 1;
    text-transform: uppercase;
  }

  .homePage1 ul li:hover{
    border-bottom: 3px solid white;
  }

  .menu1{
    position: absolute;
    top: 23px;
    bottom: 89px;
    right: 271px;
    width: 154px;
    height: 24px;
  }

  .menu2{
    position: absolute;
    top: 23px;
    bottom: 89px;
    right:153px;
    width: 80px;
    height: 24px;
  }

  .menu3{
    position: absolute;
    top: 23px;
    right:42px;
    width: 73px;
    height: 24px;
  }

  .homeWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textHome{
    position: absolute;
    top: 185px;
    width: 281px;
    color: #FCFCFC; 
    font-family:  'Source Sans Pro', sans-serif; 
    font-weight: 400;
    font-size: 2.375rem;
    letter-spacing: 0.125rem;
    opacity: 1;
  }

  .raptorHome2{
    position:absolute;
    top: 240px;
    width: 550px;
    height: 136px;
  }

  .signUpButton{
    position: absolute;
    top: 350px;
    width: 223px;
    height: 70px;
    background: #6DF529 ;
    border-radius: 92px;
    opacity: 1;
    font-family: 'Source Sans Pro', sans-serif; 
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: 0px;
    color: #141414;
  }

  .signUpButton:hover{
    background-color: #4eae1e;
  }

  .homeWrapper{
    text-align: center;
  }

  /*Sign Up*/
  .bicycle3,
  .bicycle2 {
    display: none;
  }

  .signUpWrapper {
    background-image: url('/images/bicycle3.png');
    background-size: cover;
    height: 566px;
  }

  .textWrapper {
    position: relative;
    left: 90px;
  }

  .signUpH2 {
    font-size: 2.6rem;
    color: #fefefe;
    letter-spacing: 3px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    position: relative;
    opacity: 0.75;
    width: 500px;
  }

  .signUpH3 {
    font-size: 1.8rem;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
  }

  .signUpP {
    display: none;
  }

  .signUpP2 {
    font-size: 1.3rem;
    color: #fcfcfc;
    width: 719px;
    height: 132px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    max-width: 630px;
  }

  .signUpArea {
    background-image: url('/images/bicycle2.png');
    background-size: cover;
    height: 630px;
    position: relative;
  }

  .signUpText {
    display: flex;
    justify-content: center;
    position: relative;
    left: 30px;
  }

  .signUp {
    color: white;
    font-size: 2.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
  }

  .signUpSvg {
    width: 300px;
    height: 140px;
    position: relative;
    bottom: 10px;
    right: 20px;
  }

  .inputField {
    position: relative;
    text-align: center;
    bottom: 40px;
  }

  .name,
  .email {
    font-size: 1.8rem;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    position: relative;
    right: 290px;
  }

  .inputName {
    width: 646px;
    height: 75px;
    position: relative;
    bottom: 25px;
  }

  .inputEmail {
    width: 646px;
    height: 75px;
    position: relative;
    bottom: 25px;
  }

  .sendBtn {
    background-color: #6df529;
    width: 300px;
    height: 64px;
    border-radius: 47px;
    border-style: none;
    font-size: 1.8rem;
    font-weight: bold;
    color: #141414;
    position: relative;
    right: 24px;
    top: 50px;
  }

  .sendBtn:hover {
    background-color: #4eae1e;
  }

  .clearBtn {
    background-color: black;
    width: 300px;
    height: 64px;
    border: 3px solid #67e826;
    border-radius: 47px;
    font-size: 1.8rem;
    color: #67e826;
    position: relative;
    position: relative;
    left: 24px;
    top: 50px;
  }

  .clearBtn:hover {
    border: 3px solid #4eae1e;
  }

  /* Video Section */
  .videoPage {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Source Sans Pro';
    font-weight: 100;
  }

  .videoPage h1 {
    padding-top: 2rem;
    font-family: calder-dark-grit-shadow;
    color: #f01f14;
    font-size: 4rem;
    font-weight: 100;
  }
  .videoPage h2,
  .videoPage h3 {
    font-weight: 100;
  }
  .videoPage h2 {
    font-size: 2rem;
  }

  .videoPage h3 {
    font-size: 1.7rem;
  }

  /* Reset */

  body {
    margin: 0;
    padding: 0;
  }

  /* Hamburger menu */

  #hamburger-icon,
  .disappear {
    visibility: hidden;
    height: 0px;
  }
  .video-page {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Source Sans Pro';
    font-weight: 100;
  }
  .video-page h1 {
    padding-top: 2rem;
  }
  .video-page h2,
  .video-page h3 {
    font-weight: 100;
  }

  h3.under-video {
    font-weight: 800;
    padding: 0rem;
    color: black;
    margin-bottom: 1rem;
    font-size: 2.2rem;
  }

  h3.under-video .raptor {
    font-family: calder-dark-grit-shadow, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #f02016;
  }

  .youtube-video {
    min-height: 26.5rem;
    min-width: 40rem;
  }

  .video-frame {
    background-color: white;
    padding: 1rem;
    display: inline-block;
    margin: 3rem;
    box-shadow: 4px 3px 8px 1px #68a583;
    -webkit-box-shadow: 4px 3px 8px 1px #68a583;
  }
}
